<h2>{{titulo}}</h2>

<ul>
    {% for item in ope %}
        <script>
            ite = '{{ item }}';
            
        </script>
    {% endfor %}    
        <script>
            var a ="{{ num1 }}"; 
            var b ="{{ num2 }}"; 
            document.write(ite, ' :');
            if(ite == 'suma') {
                sum();
            }
            else if ( ite == 'resta') {
                rest();
            } else {
                mult();
            }

            function sum(){
                var c = "suma";
                document.write(a, ' + ');
                document.write(b, '<br>');
                suma = parseInt(a) + parseInt(b);
                document.write('el resultado de la ', c);
                document.write(' es : ', suma);
            }
            function rest(){
                var c = "resta";
                document.write(a, ' - ');
                document.write(b, '<br>');
                var resta = parseInt(a) - parseInt(b);
                document.write('el resultado de la ', c);
                document.write(' es : ', resta);
            }
            function mult(){
                var c = "multiplicacion";
                document.write(a, ' x ');
                document.write(b, '<br>');
                var multi = parseInt(a) * parseInt(b);
                document.write('el resultado de la ', c);
                document.write(' es : ', multi);
            }
        </script>
</ul>
